@import "~vazirmatn/misc/UI/Vazirmatn-UI-font-face.css";

* {
    box-sizing: border-box;
    font-family: 'Vazirmatn UI', sans-serif !important;
}

html {
    width: 100%;
    height: 100%;
    direction: rtl;
}


body {
    margin: 0;
    padding: 0
}


.recharts-wrapper {
    direction: ltr;
}

.recharts-tooltip-wrapper {
    direction: rtl;
}

.recharts-legend-wrapper{
    padding-top: 1rem;
}

tspan {
    font-size: 0.7rem;
}
